@import "src/utils/reset";
@import "src/utils/mixins";

.breeds {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &_content {
    @include content;

    &_functions {
      @include flex_center;
      gap: 10px;

      @include onMobileLarge {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
      }

      @include onMobileMedium {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
      }

      @include onMobileSmall {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
      }

      &_select {
        border-radius: 10px;
        background: #F8F8F7;
        padding: 8px 10px;
        cursor: pointer;

        color: #8C8C8C;
        font-size: 16px;
        line-height: 24px;

        option {
          background: #FFFFFF;
          border-radius: 30px;

          &:disabled {
            background: rgba(211, 211, 211, 0.3);
          }
        }
      }

      &_selectBreeds {
        width: 220px;
        height: 40px;
      }

      &_selectLimit {
        width: 110px;
        height: 40px;
      }
    }

    &_loaderContainer {
      width: 100%;
      height: 100%;
      @include flex_center;

      &_loader {
        position: relative;
        width: 100%;
        height: 500px;
      }
    }
  }
}
