@import "src/utils/reset";
@import "src/utils/mixins";

.searchPage {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &_content {
   @include content;

    &_loaderContainer {
      width: 100%;
      height: 100%;
      @include flex_center;

      &_loader {
        position: relative;
        width: 100%;
        height: 500px;
      }
    }

    &_functions {
      display: flex;
      gap: 10px;
    }
  }
}