@import "src/utils/reset";
@import "src/utils/mixins";

.mainLayout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 80px;
  margin: 30px 30px 30px 150px;

  //@include onDesktop {
  //  flex-direction: column;
  //}

  @include onTablet {
    flex-direction: column;
    margin: 30px;
  }

  &_leftSide {

  }
}