@import "src/utils/reset";
@import "src/utils/mixins";

.leftSide {
  position: sticky;
  top: 24px;
  display: flex;
  flex-direction: column;
  gap: 100px;

  @include onTablet {
    width: 100%;
  }

  @include onMobileSmall {
    gap: 50px;
  }

  &.modalIsOpen {
    z-index: -1;
  }

  &_titles {
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      color: #1D1D1D;
      font-size: 44px;
      font-weight: 500;
      line-height: 58px;
    }

    p {
      color: #8C8C8C;
      font-size: 20px;
      font-weight: 400;
    }
  }

  &_options {
    display: flex;
    gap: 16px;

    @include onMobileLarge {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @include onMobileMedium {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @include onMobileSmall {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    &_option {
      @include flex_center;
      flex-direction: column;
      gap: 10px;

      @include onTablet {
        width: 20vw;
      }

      &_standard {
        width: 140px;
        height: 200px;
        border-radius: 20px;
        @include flex_center;
        transition: .5s;

        @include onMobileSmall {
          width: 120px;
          height: 180px;
        }

        &:hover {
          border-color: #FFF;
          transition: .5s;
        }
        &:active {
          border-color: #FBE0DC;
          transition: .5s;
        }
      }

      &_voting, &_breeds, &_gallery {
        @include onTablet {
          width: 20vw;
          height: 250px;
        }

        & img {
          @include onTablet {
            width: 100%;
            height: 60%;
          }

          @include onMobileSmall {
            width: 90%;
            height: 80%;
          }
        }
      }

      &_voting {
        border: 4px solid rgba(255, 255, 255, 0.60);
        background: #B4B7FF;
      }

      &_breeds {
        border: 4px solid rgba(255, 255, 255, 0.60);
        background: #97EAB9;
      }

      &_gallery {
        border: 4px solid rgba(255, 255, 255, 0.60);
        background: #FFD280;
      }
    }
  }
}