@import "src/utils/reset";
@import "src/utils/mixins";

.button {
  width: 140px;
  height: 36px;
  padding: 10px;
  border-radius: 10px;
  background: var(--color-default);
  @include flex_center;
  transition: .5s;

  color: var(--color-active);
  font-size: 12px;
  font-weight: 500;
  line-height: 133.333%;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include onMobileSmall {
    width: 120px;
  }

  &:hover {
    transition: .5s;
    background: var(--color-hovered);
  }

  &:active, &.active {
    color: var(--color-default);
    transition: .5s;
    background: var(--color-active);
  }
}