@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin onDesktop {
  @media screen and (1024px <= width <= 1440px) {
    @content;
  }
}

@mixin onTablet {
  @media screen and (768px <= width <= 1024px) {
    @content;
  }
}