@import "src/utils/reset";
@import "src/utils/mixins";

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include onTablet {
    align-items: center;
  }

  @include onMobileLarge {
    align-items: center;
  }

  @include onMobileMedium {
    align-items: center;
  }

  @include onMobileSmall {
    align-items: center;
  }

  &_content {
    @include content;
    height: 100%;

    &_functions {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @include onMobileLarge {
        flex-wrap: wrap;
        gap: 10px;
      }

      @include onMobileMedium {
        flex-wrap: wrap;
        gap: 10px;
      }

      @include onMobileSmall {
        flex-wrap: wrap;
        gap: 10px;
      }

      &>div:nth-child(1) {
        display: flex;
        gap: 10px;
      }

      &>div:nth-child(2){
        &>button {
          padding: 12px 30px;
          @include flex_center;
          gap: 10px;
          border-radius: 10px;
          background: #FBE0DC;
          cursor: pointer;

          color: #FF868E;
          font-size: 12px;
          font-weight: 500;
          line-height: 133.33%;
          letter-spacing: 2px;
          text-transform: uppercase;
        }
      }
    }

    &_photos {
      width: 100%;

      &_loaderContainer {
        width: 100%;
        height: 100%;
        @include flex_center;

        &_loader {
          position: relative;
          width: 100%;
          height: 500px;
        }
      }

      &_container {
        width: 100%;
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-rows: 280px;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 20px;

        &_item {
          border-radius: 20px;
          width: 100%;
          height: 100%;
          //width: 20vw;
          //height: 25vh;
        }
      }

      &_notFound {
        @include not_found;
      }
    }
  }
}